/*   
Theme Name: dflood
Description: A very clean minimalist theme.
Author: Daniel Flood
Theme URI:https://bitbucket.org/danielpflood/dflood-theme
Author URI: http://floodweb.us
*/

body {
	font: 20px Hoefler Text, bodyfont, serif;
	color: #333;
        line-height: 30px;
	}
h1 {font-family: Helvetica, sans-serif; font-size: 1em; color:#333; font-weight:normal;  padding: 20px 0px 0px 0px;}
h2 {font-family: Helvetica, sans-serif; font-size: 1.5em; color:#333; line-height:26px; font-weight:normal; padding: 5px 0px 10px 0px;}
h3 {font-family: Helvetica, sans-serif; font-size: 18px; color:#666; line-height: 15px; text-indent: 0px; padding: 10px 0px 0px 0px;}
h4 {font-family: Georgia, "Times New Roman", Times, serif; font-size: 1em; color:#000000;}
h5 {font-size: 9pt; color:#000000;}

img{border:none;}
blockquote{border-left:1px solid #A5ABAB; margin:0px; padding:0 12px 0 12px;}

p{line-height: 30px; margin:30px auto; text-indent: 0px;}

a {text-decoration: none;}
a:link {color: #333; text-decoration: none;}
a:visited {color: #333; text-decoration: none;}
a:hover {color: #999; text-decoration: none;}

ul{padding: .5em 0em 1em 3.2em;}
li{line-height: 30px; padding: 6px 0 0 0;}

ol{padding: .5em 0em 0em 3.2em;}
li{line-height: 30px; padding: 6px 0 0 0;} 

ul.post-categories li {
	list-style-type:none;
}
#content {min-width: 20em; max-width: 50em; overflow: hidden;
	margin-top:60px; margin-left:64px; margin-right:14px; margin-bottom:0px;}	
.post{
	background-image: linear-gradient(left , rgba(255,255,255,0) 100%, rgba(255,255,255,1) 90%);
	background-image: -o-linear-gradient(left , rgba(255,255,255,0) 100%, rgba(255,255,255,1) 90%);
	background-image: -moz-linear-gradient(left , rgba(255,255,255,0) 100%, rgba(255,255,255,1) 90%);
	background-image: -webkit-linear-gradient(left , rgba(255,255,255,0) 100%, rgba(255,255,255,1) 90%);
	background-image: -ms-linear-gradient(left , rgba(255,255,255,0) 100%, rgba(255,255,255,1) 90%);

	background-image: -webkit-gradient(
		linear,
		left 50%,
		right 50%,
		color-stop(1, rgba(255,255,255,0)),
		color-stop(0.90, rgba(255,255,255,1))
	);
}
.entry a:link {color: #303030; text-decoration: none; border-width: 0 0 1px 0; border-style: none none solid none; border-color: #C0C0C0;}
.entry a:visited {color: #303030; text-decoration: none; border-width: 0 0 1px 0; border-style: none none solid none; border-color: #C0C0C0;}
.entry a:hover {color: #999; border-width: 0 0 1px 0; border-style: none none solid none; border-color: #C0C0C0; text-decoration: none;}
.entry strong{font-family: Georgia, "Times New Roman", Times, serif; font-weight: bold; color: #555555;}

#footer {margin-left:115px; padding-top:100px;}
#footer {background:#fff; clear: both;}
#footer p{padding:4px 0;margin: 0; color: #666; font-size:13px; font-family:helvetica, sans-serif; letter-spacing:4px}
#footer a{color: #c0c0c0;text-decoration: none;}
#footer a:hover{color: #999;text-decoration: none;}